
<form action="/access" method="POST">
  <h2>Enter access token</h2>
  
  <div class="input-field">
    <input type="text" name="accessToken" >
    <label></label>
  </div>
  <button type="submit" class="btn">Enter</button>
</form>