<form action="/create" method="POST">
  <h2>Create user</h2>

  <div class="input-field">
    <input type="text" name="name">
    <label></label>
  </div>

  <div class="input-field">
    <input type="text" name="password">
    <label></label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>