<form action="/refresh" method="POST">
  <h2>Enter refresh token</h2>
  

  <div class="input-field">
    <input type="text" name="refreshToken" >
    <label></label>
  </div>
  <button type="submit" class="btn">Enter</button>
</form>